<h1><%= t('views.index.title') %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('dictionary.messages.title') %></th>
      <th><%= t('dictionary.messages.content') %></th>
      <th><%= t('dictionary.messages.created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.set_date %></td>
        <td><%= link_to t('helpers.links.show'), task, id: "show-task" %></td>
        <td><%= link_to t('helpers.links.edit'), edit_task_path(task), id: "edit-task" %></td>
        <td><%= link_to t('helpers.links.destroy'), task_path(task), method: :delete, data: {confirm: t('dictionary.messages.confirm_destroy')}, id: "destroy-task" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>