<h1><%= t('views.new.title') %></h1>
<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div style="margin-bottom: 10px;">
    <div><%= form.label t('activerecord.attributes.task.title') %></div>
    <div><%= form.text_field :title %></div>
  </div>
  <div style="margin-bottom: 10px;">
    <div><%= form.label t('activerecord.attributes.task.content') %></div>
    <div><%= form.text_area :content %></div>
  </div>
  <div style="margin-bottom: 10px;">
    <div><%= form.label t('activerecord.attributes.task.deadline_on') %></div>
    <div><%= form.date_field :deadline_on %></div>
  </div>
  <div style="margin-bottom: 10px;">
    <div><%= form.label t('activerecord.attributes.task.priority') %></div>
    <div><%= form.select :priority, ['高', '中', '低'], { include_blank: ' ' } %></div>
  </div>
  <div style="margin-bottom: 10px;">
    <div><%= form.label t('activerecord.attributes.task.status') %></div>
    <div><%= form.select :status, ['未着手', '着手中', '完了'], { include_blank: ' ' } %></div>
  </div>
  <div style="margin-bottom: 10px;"><%= form.submit id: "create-task" %></div>
<% end %>
<%= link_to t('helpers.links.back'), tasks_path, id: "back" %>